<a href="https://colab.research.google.com/github/joalissonnascimento/maha_energy/blob/main/Colab_de_aula_Preparacao_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
upload = files.upload()

Saving DataPrepFinal.csv to DataPrepFinal.csv

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("DataPrepFinal.csv")

In [5]:
df.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,09/10/15,100000,11/08/15 12:12,0,failed,0,GB,0.0,0,USD 153395
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,01/11/17,3000000,02/09/17 04:43,242100,failed,15,US,10000.0,242100,USD 3000000
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,26/02/13,4500000,12/01/13 00:20,22000,failed,3,US,22000.0,22000,USD 4500000
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,16/04/12,500000,17/03/12 03:24,100,failed,1,US,100.0,100,USD 500000
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,29/08/15,1950000,04/07/15 08:35,128300,canceled,14,US,128300.0,128300,USD 1950000

In [6]:
df = df.drop(columns=['Unnamed: 0', 'name', 'category', 'goal', 'pledged', 'usd pledged'])

In [7]:
df.head()

,ID,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,Publishing,GBP,09/10/15,11/08/15 12:12,failed,0,GB,0,USD 153395
1,1000003930,Film & Video,USD,01/11/17,02/09/17 04:43,failed,15,US,242100,USD 3000000
2,1000004038,Film & Video,USD,26/02/13,12/01/13 00:20,failed,3,US,22000,USD 4500000
3,1000007540,Music,USD,16/04/12,17/03/12 03:24,failed,1,US,100,USD 500000
4,1000011046,Film & Video,USD,29/08/15,04/07/15 08:35,canceled,14,US,128300,USD 1950000

In [ ]:
df.dtypes

ID                   int64
main_category       object
currency            object
deadline            object
launched            object
state               object
backers              int64
country             object
usd_pledged_real     int64
usd_goal_real       object
dtype: object

In [ ]:
df['usd_goal_real'] = df['usd_goal_real'].apply(lambda x: x.strip('USD '))

In [ ]:
df.head()

           ID main_category currency  ... country usd_pledged_real usd_goal_real
0  1000002330    Publishing      GBP  ...      GB                0        153395
1  1000003930  Film & Video      USD  ...      US           242100       3000000
2  1000004038  Film & Video      USD  ...      US            22000       4500000
3  1000007540         Music      USD  ...      US              100        500000
4  1000011046  Film & Video      USD  ...      US           128300       1950000

[5 rows x 10 columns]

Link para explicação de REGEX:  https://www.w3schools.com/python/python_regex.asp

Link para testar REGEX: https://www.regextester.com/

In [ ]:
df['launched'] = df['launched'].str.replace(' \d\d:\d\d', '', regex=True)

In [ ]:
df.head()

           ID main_category currency  ... country usd_pledged_real usd_goal_real
0  1000002330    Publishing      GBP  ...      GB                0        153395
1  1000003930  Film & Video      USD  ...      US           242100       3000000
2  1000004038  Film & Video      USD  ...      US            22000       4500000
3  1000007540         Music      USD  ...      US              100        500000
4  1000011046  Film & Video      USD  ...      US           128300       1950000

[5 rows x 10 columns]

In [ ]:
df.dtypes

ID                   int64
main_category       object
currency            object
deadline            object
launched            object
state               object
backers              int64
country             object
usd_pledged_real     int64
usd_goal_real       object
dtype: object

In [ ]:
df['usd_goal_real'] = df['usd_goal_real'].astype('int64')

In [ ]:
df.dtypes

ID                   int64
main_category       object
currency            object
deadline            object
launched            object
state               object
backers              int64
country             object
usd_pledged_real     int64
usd_goal_real        int64
dtype: object

In [ ]:
df.head()

           ID main_category currency  ... country usd_pledged_real usd_goal_real
0  1000002330    Publishing      GBP  ...      GB                0        153395
1  1000003930  Film & Video      USD  ...      US           242100       3000000
2  1000004038  Film & Video      USD  ...      US            22000       4500000
3  1000007540         Music      USD  ...      US              100        500000
4  1000011046  Film & Video      USD  ...      US           128300       1950000

[5 rows x 10 columns]

Link do tipes de formatos datetime do pandas:https://www.dataindependent.com/pandas/pandas-to-datetime/

In [ ]:
df['deadline'] = pd.to_datetime(df['deadline'], format='%d/%m/%y')
df['launched'] = pd.to_datetime(df['launched'], format='%d/%m/%y')

In [ ]:
df.dtypes

ID                           int64
main_category               object
currency                    object
deadline            datetime64[ns]
launched            datetime64[ns]
state                       object
backers                      int64
country                     object
usd_pledged_real             int64
usd_goal_real                int64
dtype: object

In [ ]:
 df['time_range'] = (df['deadline']-df['launched']).dt.days

In [ ]:
df.head()

           ID main_category  ... usd_goal_real time_range
0  1000002330    Publishing  ...        153395         59
1  1000003930  Film & Video  ...       3000000         60
2  1000004038  Film & Video  ...       4500000         45
3  1000007540         Music  ...        500000         30
4  1000011046  Film & Video  ...       1950000         56

[5 rows x 11 columns]

In [ ]:
from google.colab import files
upload = files.upload()

Saving campaign.csv to campaign.csv

In [ ]:
df_c = pd.read_csv('campaign.csv')

In [ ]:
df_c.head()

           ID  Text Description  Video  Image  Infographic  Reviews  Risks
0  1000002330                 1      1      1            1        0      1
1  1000003930                 1      1      1            1        1      0
2  1000004038                 1      0      1            1        0      1
3  1000007540                 1      1      0            1        0      0
4  1000011046                 1      0      1            0        0      0

In [ ]:
df_c['Text Description'].unique()

array([1])

In [ ]:
df_c = df_c.drop(columns=['Text Description'])

In [ ]:
df_c.head()

           ID  Video  Image  Infographic  Reviews  Risks
0  1000002330      1      1            1        0      1
1  1000003930      1      1            1        1      0
2  1000004038      0      1            1        0      1
3  1000007540      1      0            1        0      0
4  1000011046      0      1            0        0      0

In [ ]:
df.head()

           ID main_category  ... usd_goal_real time_range
0  1000002330    Publishing  ...        153395         59
1  1000003930  Film & Video  ...       3000000         60
2  1000004038  Film & Video  ...       4500000         45
3  1000007540         Music  ...        500000         30
4  1000011046  Film & Video  ...       1950000         56

[5 rows x 11 columns]

In [ ]:
df = df.merge(df_c, how= 'right', on=['ID'])

In [ ]:
df.head()

           ID main_category currency  ... Infographic Reviews Risks
0  1000002330    Publishing      GBP  ...           1       0     1
1  1000003930  Film & Video      USD  ...           1       1     0
2  1000004038  Film & Video      USD  ...           1       0     1
3  1000007540         Music      USD  ...           1       0     0
4  1000011046  Film & Video      USD  ...           0       0     0

[5 rows x 16 columns]

In [ ]:
from google.colab import files
upload = files.upload()

Saving invested.csv to invested.csv

In [ ]:
df_invest = pd.read_csv('invested.csv')

In [ ]:
df_invest.head()

           ID backedLocation  age
0  1000003930             BR   18
1  1000004038             US   57
2  1000007540             US   43
3  1000011046             BR   29
4  1000014025             BR   77

In [ ]:
df_invest.sort_values(by= ['ID'])

               ID backedLocation  age
27400      106144             US   63
10585      106144            GBK   70
17409     1003381             BR   68
594       1003381             US   29
2925      1017454             US   62
...           ...            ...  ...
16812  1098729640            GBK   61
33627  1098729640            GBK   43
16814  1098735707             BR   66
33629  1098735707             US   62
35395  1098735707             US   63

[35396 rows x 3 columns]

In [ ]:
df_invest.head()

           ID backedLocation  age
0  1000003930             BR   18
1  1000004038             US   57
2  1000007540             US   43
3  1000011046             BR   29
4  1000014025             BR   77

In [ ]:
df_invest =  pd.get_dummies(df_invest, columns= ['backedLocation'])

In [ ]:
df_invest.sort_values(by=['ID'])

               ID  age  ...  backedLocation_GBK  backedLocation_US
27400      106144   63  ...                   0                  1
10585      106144   70  ...                   1                  0
17409     1003381   68  ...                   0                  0
594       1003381   29  ...                   0                  1
2925      1017454   62  ...                   0                  1
...           ...  ...  ...                 ...                ...
16812  1098729640   61  ...                   1                  0
33627  1098729640   43  ...                   1                  0
16814  1098735707   66  ...                   0                  0
33629  1098735707   62  ...                   0                  1
35395  1098735707   63  ...                   0                  1

[35396 rows x 5 columns]

In [ ]:
  df_invest = df_invest.groupby(by=['ID']).agg({'age':'mean', 'backedLocation_BR': 'sum', 'backedLocation_GBK': 'sum', 'backedLocation_US': 'sum'})

In [ ]:
df_invest.head()

          age  backedLocation_BR  backedLocation_GBK  backedLocation_US
ID
106144   66.5                  0                   1                  1
1003381  48.5                  1                   0                  1
1017454  41.5                  0                   0                  2
1024013  77.0                  2                   0                  0
1024208  71.0                  0                   1                  1

In [ ]:
 df =  df.merge(df_invest, how='right', on='ID')

In [ ]:
df.head()

        ID main_category  ... backedLocation_GBK backedLocation_US
0   106144         Music  ...                  1                 1
1  1003381         Music  ...                  0                 1
2  1017454  Film & Video  ...                  0                 2
3  1024013    Publishing  ...                  0                 0
4  1024208    Technology  ...                  1                 1

[5 rows x 20 columns]